*~
*pyc
*html
.ipynb_checkpoints
figures/**/*.png
files/*pkl
files/*npz
files/*.dump.json
files/results/
output/
scripts/output/
scripts/var/
scripts/optimization/Mishra_2016/
scripts/optimization/checkpoints/
